.logo{
    margin-left: 4px;
    width: 105px;
    height: 105px;
    top: 15px;
    position: absolute;
}
.DESIGN{
    height: 105px;
    width: 105px;
    font-weight: bold;
    font-size: 14px;
    border-radius: 50%;
    background-color: var(--design-icon-red);
}

.DEVELOP{
    height: 105px;
    width: 105px;
    font-weight: bold;
    font-size: 14px;
    border-radius: 50%;
    background-color: var(--design-icon-yellow);
    padding: 8px;
}

.SUPPORT {
    height: 105px;
    width: 105px;
    font-weight: bold;
    font-size: 14px;
    border-radius: 50%;
    background-color: var(--design-icon-green);
    padding: 8px;
}

.HOST{
    height: 105px;
    width: 105px;
    font-weight: bold;
    font-size: 14px;
    border-radius: 50%;
    background-color: var(--design-icon-teal);

}

/*a {*/
/*    color: white !important;*/
/*    padding: 42px 0 0 28px !important;*/
/*}*/

:root{
    --design-icon-red: #E6563B;
    --design-icon-yellow: #EB9D3A;
    --design-icon-green: #7CB06c;
    --design-icon-teal: #00ABA9;
}