.logo{
    margin-left: 4px;
    width: 105px;
    height: 105px;
    top: 15px;
    position: absolute;
}
.DESIGN{
    height: 105px;
    width: 105px;
    font-weight: bold;
    font-size: 14px;
    border-radius: 50%;
    background-color: var(--design-icon-red);
}

.DEVELOP{
    height: 105px;
    width: 105px;
    font-weight: bold;
    font-size: 14px;
    border-radius: 50%;
    background-color: var(--design-icon-yellow);
    padding: 8px;
}

.SUPPORT {
    height: 105px;
    width: 105px;
    font-weight: bold;
    font-size: 14px;
    border-radius: 50%;
    background-color: var(--design-icon-green);
    padding: 8px;
}

.HOST{
    height: 105px;
    width: 105px;
    font-weight: bold;
    font-size: 14px;
    border-radius: 50%;
    background-color: var(--design-icon-teal);

}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Anton', sans-serif;
}
h1 {
    font-size: 4em;
}
h2 {
    font-size: 3em;
}
h3 {
    font-size: 2.5em;
}
h4 {
    font-size: 2em;
}
h5 {
    font-size: 1.75em;
}
nav a {
    font-size: .75em;
    color: black;
}

/*a {*/
/*    color: white !important;*/
/*    padding: 42px 0 0 28px !important;*/
/*}*/

:root{
    --design-icon-red: #E6563B;
    --design-icon-yellow: #EB9D3A;
    --design-icon-green: #7CB06c;
    --design-icon-teal: #00ABA9;
}
.pill{
    color: black;
    border-radius: 50%;
    height: 18px;
    width: 18px;
    text-align: center;
    padding-top: 4px;
    font-family: 'abel', sans-serif;
    /*padding-right:1px;*/

}
li {
    list-style-type: none;
}

.small-images {
    border: .2em solid #e6e6e6;
    border-radius: 1px;
    background-size: cover;
}
body {
    font-family: 'Abel', sans-serif;
    background: #f0f0f0;
}
.wrapper {
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
}
nav .nav-item {
    position: relative;
    bottom: 6px;
}
.img {
    max-width: 100%;
    border: .5em solid #e6e6e6;
    border-radius: 4px;
    background-size: cover;

}
.sub-title {
    text-align: center;
    margin-top: 5em;
}

@media screen and (min-width: 768px) {
    .sub-title {margin-top: 2em;}
    hr {width: 55%;}
}


@media screen and (min-width: 992px) {
    .sub-title {text-align: left;}
    hr {width: 100%;}

    .brand-name  {
        position: relative;
        top: 5px;
    }
}

@media screen and (min-width: 1200px) {
    .wrapper .row {margin-top: 3em;}
    .custom-card {padding-right: 3em;}
    hr {width: 100%;}
}